langchain
langchain-community
streamlit
transformers
torch
einops
bitsandbytes
pypdf
langchain-huggingface
chroma-migrate
accelerate
pdfminer.six
bs4
sentence_transformers
duckdb
chromadb
beautifulsoup4
sentence-transformers
sentencepiece
six
requests
uvicorn
torch
torchvision
streamlit-chat